.academy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: rgba(129, 179, 210, 1);
  }

  &:active {
    color: rgba(179, 179, 179, 1);
  }
}

.academy {
  display: block;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: calc(124 / 768 * 100%);
    margin-top: -27px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 227px;
    margin-top: -25px;
  }
}

.academy__link-svg[href]:hover {
  fill: rgba(129, 179, 210, 1);
}

.academy__link-svg:hover {
  fill: rgba(129, 179, 210, 1);
  opacity: 0.3;
}

.academy__link-svg:active path {
  fill: rgba(179, 179, 179, 1);
}
