.academy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 8px;

  &:hover {
    color: rgba(129, 179, 210, 1);
  }

  &:active {
    color: rgba(179, 179, 179, 1);
  }
}

.academy {
  display: block;
  align-items: center;
  padding-top: 20px;
  padding-right: 31px;

  @media (min-width: $tablet-width) {
    margin-left: calc(126 / 768 * 100%);
    margin-top: -27px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 227px;
    margin-top: -25px;
  }
}

.academy__link {
  position: relative;
  list-style-type: none;
  text-decoration: none;
  color: $black;

  &:hover {
    color: rgba(129, 179, 210, 1);
  }

  &:active {
    color: rgba(179, 179, 179, 1);
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px #669ec0;
    outline: none;
  }
}

.academy__link-svg {
  position: absolute;
  right: -31px;
  bottom: -9px;
}

.academy__link:hover svg {
  fill: rgba(129, 179, 210, 1);
}

.academy__link:active svg {
  fill: rgba(179, 179, 179, 1);
}
