.catalog-card__information-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.catalog-card__information-text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.catalog-card__information {
  padding-bottom: 24px;
}
