.catalog-card__information-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 20px;
}

.catalog-card__information-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.catalog-card__information {
  padding-bottom: 24px;
}
