.feedback__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 0;
}

.feedback__intro {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.feedback {
  padding-bottom: 28px;
  padding-top: 36px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 67px;
  }
}
