.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 90px;
  }
}

.form__naming {
  text-transform: uppercase;
  padding-left: 16px;
}

.form__name {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: $black;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:focus {
    background-color: $white;
    border: 4px solid rgba(229, 229, 229, 1);
    padding-left: 12px;
  }

  @media (min-width: $tablet-width) {
    width: 106%;
  }
}

.form__contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 27px;
  }
}

.form__contacts-naming {
  text-transform: uppercase;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 55px;
  }
}

.form__contacts-name {
  width: calc(100% - 58px);
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: $black;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:focus {
    background-color: $white;
    // box-shadow: 0 0 0 4px rgba(229, 229, 229, 1);
    box-sizing: border-box;
    border: 4px solid #e5e5e5;
    padding-left: 12px;
  }
}

.form__contacts-phone {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
}

.form__contacts-mail {
  background-color: rgba(230, 230, 230, 1);
  width: 58px;
  height: 58px;
  border: none;
}

.form__contacts-wrapper {
  margin-bottom: 15px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
  }
}

.form__contacts-wrapper--2 {
  margin-bottom: 35px;
}

.form__comment-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
    position: relative;
  }
}

.form__comment-header::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 123px;
    height: 2px;
    top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
    top: 11px;
    left: -354px;
  }
}

.form__comment-header::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 123px;
    height: 2px;
    top: 12px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
    top: 11px;
    right: -356px;
  }
}

.form__comment-area {
  background-color: rgba(242, 242, 242, 1);
  border: none;
  min-width: 279px;
  height: 150px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 80.5%;
  }
}

.form__comment-button {
  background-color: rgba(129, 179, 210, 1);
  border: none;
  margin: 0 auto;
  display: block;
  width: 281px;
  margin-bottom: 3px;
  color: $white;

  &:hover {
    background-color: rgba(102, 158, 192, 1);
  }

  &:active {
    background-color: rgba(84, 150, 189, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 384px;
    padding-left: 35px;
  }
}

.form__comment-button-span {
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 281px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  display: block;
  padding: 17px 34px 13px 19px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 13px;
    padding-right: 15px;
    padding-left: 34px;
  }
}

.form__comment-mark {
  line-height: 21px;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 6px;
    padding-top: 5px;
  }
}

.form__impression-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 32px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.form__impression-header::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    width: 123px;
    height: 1px;
    top: 12px;
    left: -186px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
    top: 12px;
    left: -341px;
  }
}

.form__impression-header::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 123px;
    height: 1px;
    top: 12px;
    left: 339px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
  }
}

.form__visited-header::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 123px;
    height: 1px;
    top: 26px;
    left: -159px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
    top: 25px;
    left: -324px;
  }
}

.form__visited-header::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/layer1-form.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 123px;
    height: 1px;
    top: 26px;
    right: -179px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    background-repeat: repeat;
    top: 25px;
    right: -326px;
  }
}

.form__impression-control {
  display: flex;
  align-items: center;
}

.form__impression-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
  }
}

.form__impression-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__impression {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 26px;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 50px;
    margin-top: 63px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
    padding-bottom: 54px;
  }
}

.form__visited {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
    padding-bottom: 1px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 71px;
  }
}

.form__comment {
  margin-top: 24px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    align-items: center;
  }
}

.form__visited-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    max-width: 310px;
    padding-left: 18px;
    margin-bottom: 25px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding-left: 1px;
  }
}

.form__visited-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 84px;
    padding-right: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 45px;
    padding-right: 0;
  }
}

.form__visited-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__visited-input {
  margin-bottom: 16px;
}

.form__visited-input:nth-child(4) {
  margin-bottom: 24px;
}

.form-images {
  margin-left: 75px;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-left: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 150px;
  }
}

.form__info,
.form__contacts {
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid rgba(229, 229, 229, 1);

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__info {
  width: 100%;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 50%;
    border-right: 1px solid rgba(219, 219, 219, 1);
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-left: 120px;
    padding-right: 87px;
    width: 51.2%;
  }
}

.form__contacts {
  width: 100%;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-top: 0;
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    padding-right: 120px;
    margin-top: 0;
    width: 48.8%;
  }
}

.form__impression-item {
  margin-bottom: 22px;
  position: relative;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    width: 48.3%;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 33.33%;
  }
}

.form__impression-item:last-child {
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    padding-left: 14px;
  }
}

.form__impression-item:nth-child(2) {
  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 8px;
  }
}

.form__visited-item {
  margin-bottom: 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding-left: 0;
  }
}

.form__visited-item:last-child {
  margin-bottom: 0;
}

.form__visited-item:nth-child(2) {
  @media (min-width: $desktop-width) {
    padding-left: 8px;
  }
}

.form__visited-item:nth-child(3) {
  @media (min-width: $desktop-width) {
    padding-left: 13px;
  }
}

.form__global-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.form__button-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 97px;
    padding-right: 90px;
    justify-content: space-between;
  }
}

.form__impression-mark {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  margin-right: 20px;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: rgba(213, 213, 213, 1);
  }

  @media (min-width: $tablet-width) {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(242, 242, 242, 1);
  }
}

.form__impression-input[type="radio"]:checked + .form__impression-mark::before {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 1);
  content: "";

  &:active {
    background-color: rgba(51, 51, 51, 0.3);
    opacity: 0.3;
  }
}

.form__visited-mark {
  width: 46px;
  height: 46px;
  background-color: rgba(242, 242, 242, 1);
  margin-right: 16px;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: rgba(213, 213, 213, 1);
  }
}

.form__visited-input[type="checkbox"]:checked + .form__visited-mark {
  background-image: url("../img/mobile/checked.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }
}

.form__contacts-button {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  background-image: url("../img/mobile/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__contacts-button-2 {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  background-image: url("../img/mobile/mail.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__wrapper {
  margin-bottom: 16px;
}

.form__wrapper:last-child {
  margin: 0;
}

.form__visited-control {
  display: flex;
  align-items: center;
}
