.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
  }
}

.form__naming {
  text-transform: uppercase;
}

.form__name {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: $black;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(229, 229, 229, 1);
  }
}

.form__contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form__contacts-naming {
  text-transform: uppercase;
}

.form__contacts-name {
  width: 80%;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: $black;
  margin-bottom: 16px;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: $white;
    box-shadow: 0 0 0 4px rgba(229, 229, 229, 1);
  }
}

.form__contacts-phone {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  border: none;
}

.form__contacts-mail {
  background-color: rgba(230, 230, 230, 1);
  width: 58px;
  height: 58px;
  border: none;
}

.form__contacts-wrapper {
  margin-bottom: 16px;
  display: flex;
}

.form__comment-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 28px;
  }
}

.form__comment-area {
  background-color: rgba(242, 242, 242, 1);
  border: none;
  min-width: 279px;
  min-height: 150px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 80.5%;
  }
}

.form__comment-button {
  background-color: rgba(129, 179, 210, 1);
  border: none;
  margin: 0 auto;
  display: block;

  &:hover {
    background-color: rgba(102, 158, 192, 1);
  }

  &:active {
    background-color: rgba(84, 150, 189, 1);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__comment-button-span {
  font-weight: 700;
  width: 281px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  display: block;
  padding: 18px 34px 13px 32px;

  &:active {
    opacity: 0.3;
  }
}

.form__comment-mark {
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__impression-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    border-left: 1px solid rgba(219, 219, 219, 1);
    max-width: 400px;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.form__impression-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__impression-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__impression {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 58px;
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    padding-bottom: 83px;
  }
}

.form__visited {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 97px;
  }
}

.form__comment {
  margin-top: 24px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    align-items: center;
  }
}

.form__visited-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    max-width: 310px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.form__visited-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 146px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 101px;
  }
}

.form__visited-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__visited-input {
  margin-bottom: 16px;
}

.form__visited-input:nth-child(4) {
  margin-bottom: 24px;
}

.form-images {
  margin-left: 75px;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-left: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 150px;
  }
}

.form__info,
.form__contacts {
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid rgba(229, 229, 229, 1);

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__info {
  width: 100%;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 50%;
    border-right: 1px solid rgba(219, 219, 219, 1);
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-left: 120px;
    padding-right: 63px;
  }
}

.form__contacts {
  width: 100%;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
    padding-right: 178px;
    margin-top: 0;
  }
}

.form__impression-item {
  margin-bottom: 16px;
  position: relative;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 33.33%;
  }
}

.form__impression-item:nth-child(2) {
  padding-right: 36px;
}

.form__visited-item {
  margin-bottom: 36px;
  position: relative;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding-left: 0;
  }
}

.form__global-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.form__button-wrapper {
  @media (min-width: $mobile-width-only) {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 90px;
    padding-right: 90px;
    justify-content: space-between;
  }
}

.form__impression-mark {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(242, 242, 242, 1);
  left: 0;
  bottom: -7px;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: rgba(213, 213, 213, 1);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(242, 242, 242, 1);
    left: 38px;
  }
}

.form__impression-input[type="radio"]:checked + .form__impression-mark::before {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 1);
  content: "";

  &:active {
    background-color: rgba(51, 51, 51, 0.3);
    opacity: 0.3;
  }
}

.form__visited-mark {
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: rgba(242, 242, 242, 1);
  bottom: -11px;
  left: 0;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:active {
    background-color: rgba(213, 213, 213, 1);
  }

  @media (min-width: $tablet-width) {
    bottom: -11px;
    left: -56px;
  }
}

.form__visited-input[type="checkbox"]:checked + .form__visited-mark {
  background-image: url("../img/mobile/checked.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }
}

.form__contacts-button {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  background-image: url("../img/mobile/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__contacts-button-2 {
  width: 58px;
  height: 58px;
  background-color: rgba(230, 230, 230, 1);
  background-image: url("../img/mobile/mail.svg");
  background-position: center;
  background-repeat: no-repeat;
}
