.main-container__wrapper {
  background-color: rgba(164, 190, 243, 0.7);
  background-image: url("../img/mobile/background-index.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding-top: 89px;
  padding-bottom: 85px;
  position: relative;
  margin: 0 auto;
  display: block;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/background-index@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/back-tablet.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 70px;
    padding-bottom: 43px;
    position: relative;
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/back-tablet@2x.webp");
      background-size: 1200px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/mobile/back-desktop.webp");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 1200px auto;
    padding-top: 74px;
    height: 518px;
    padding-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/back-desktop@2x.webp");
    }
  }
}

.main-container__wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/intro-triangle.svg");
  display: block;
  background-size: 100%;
  height: 57px;
  width: 100%;
  bottom: -1px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/vector-tablet.svg");
    bottom: -1px;
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      background-image: url("../img/mobile/vector-dekstop.svg");
      background-repeat: no-repeat;
      top: 462px;
      width: 1200px;
    }
  }
}
// Catalog html //
.main-container__wrapper-catalog {
  background-color: rgba(238, 238, 238, 1);
  background-image: url("../img/mobile/back-mob.webp");
  background-repeat: no-repeat;
  background-position: 100% -56px;
  background-size: 100% auto;
  padding-top: 52px;
  padding-left: 0;
  padding-bottom: 85px;
  height: 158px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/back-mob@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/cat-tablet.webp");
    margin-bottom: 59px;
    padding-top: 85px;
    padding-left: 0;
    height: 291px;
    background-size: 100% auto;
    background-position: 100% -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/cat-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 100% -56px;
    padding-top: 91px;
    height: 301px;
    margin-bottom: 0;
    background-image: url("../img/mobile/cat-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/cat-desktop@2x.webp");
    }
  }
}

.main-container__wrapper-catalog::after {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/mobile/intro-triangle.svg");
  display: block;
  position: absolute;
  width: 100%;
  height: 57px;
  left: 0;
  bottom: -1px;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../img/mobile/intro-catalog.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 234px;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: url("../img/mobile/intro-desc.svg");
    height: 60px;
    top: 245px;
  }
}

.main-container__wrapper-form {
  background-color: rgba(238, 238, 238, 0.8);
  background-image: url("../img/mobile/form-mob.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 159px;
  background-position: 100% -56px;
  padding-bottom: 33px;
  position: relative;
  padding-top: 52px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/form-mob@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/form-tablet.webp");
    min-height: 290px;
    background-position: bottom;
    padding-left: 3px;
    padding-top: 95px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/form-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/mobile/form-desktop.webp");
    background-position: 100% -56px;
    height: 301px;
    padding-top: 101px;
    padding-left: 3px;
    padding-right: 4px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/form-desktop@2x.webp");
    }
  }
}

.main-container__wrapper-form::after {
  content: "";
  background-image: url("../img/mobile/into-mob.svg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 57px;
  left: 0;
  bottom: 0;
  background-size: 100% 100%;
  display: block;
  position: absolute;

  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../img/mobile/intro-form.svg");
    bottom: -1px;
    background-size: 100% auto;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: url("../img/mobile/big-intro.svg");
    top: 245px;
  }
}

.main-container__images {
  margin: 0 auto;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    width: 505px;
    height: 365px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    width: 500px;
    height: 350px;
  }
}

.main-container__catalog-card {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 38px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper-catalog__images {
  width: 229px;
  height: 39px;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 77px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    height: 80px;
    margin-left: 373px;
  }
}

.main-container__form-images {
  width: 229px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }
}
