.main-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
  }
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  align-items: center;
  display: block;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    min-width: 160px;
    padding-top: 48px;
    padding-bottom: 45px;
  }
}
