.main-container__wrapper {
  background-image: url("../img/mobile/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding-top: 89px;
  padding-bottom: 85px;
  background-color: $black;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/background-index@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px auto;
    padding-top: 77px;
    padding-bottom: 43px;
    margin-bottom: 47px;
    position: relative;
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/back-tablet@2x.jpg");
      background-size: 1200px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/mobile/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 1200px auto;
    padding-top: 0;
    height: 518px;
    padding-bottom: 0;
    margin-bottom: 0;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile/back-desktop@2x.jpg");
    }
  }
}

.main-container__wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/mobile/intro-triangle.svg");
  display: block;
  background-size: 100%;
  height: 57px;
  width: 100%;
  bottom: 118px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/mobile/vector-tablet.svg");
    top: 493px;
    background-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      background-image: url("../img/mobile/vector-dekstop.svg");
      background-repeat: no-repeat;
      top: 462px;
      width: 1200px;
    }
  }
}
// Catalog html //
.main-container__wrapper-catalog {
  background-image: url("../img/mobile/back-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding-top: 83px;
  padding-bottom: 85px;
  background-color: $black;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/back-mob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-container__wrapper-form {
  background-image: url("../img/mobile/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 214px;
  padding-bottom: 33px;
}

.main-container__images {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    width: 461px;
    height: 365px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.main-container__catalog-card {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 58px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 62px;
    padding-left: 0;
    padding-right: 0;
  }
}
