.main-nav__list {
  background-color: rgba(129, 179, 210, 1);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: $white;
    list-style-type: none;
    display: flex;
  }
}

// Пытался сделать графикой
// .main-nav--opened .main-nav__toggle {
//   background-image: url("../img/mobile/exit-menu.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   width: 23px;
//   height: 23px;
//   border: none;
//   position: absolute;
//   padding: 0;
//   top: 0;
//   margin-top: 17px;
//   right: 20px;
//   cursor: pointer;

//   @media (min-width: $tablet-width) {
//     display: none;
//   }

//   @media (min-width: $desktop-width) {
//     display: none;
//   }
// }
@media (min-width: $mobile-width-only) {
  .main-nav--opened .main-nav__toggle {
    right: 20px;
    position: absolute;
    border: none;
    top: 17px;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 22px;
      height: 3px;
      background-color: $white;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
      top: 8px;
      left: 0;
    }

    &::after {
      transform: rotate(-45deg);
      left: 0;
      top: 8px;
    }
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/mobile/menu-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  border: none;
  position: absolute;
  padding: 0;
  font: inherit;
  top: 17px;
  right: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (min-width: $mobile-width-only) {
  .main-nav__toggle {
    width: 22px;
    height: 22px;
    position: relative;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &-active {
      display: block;
    }
  }
}

@media (min-width: $mobile-width-only) {
  .main-nav--nojs .main-nav--toggle {
    display: none;
  }
}

@media (min-width: $mobile-width-only) {
  .main-nav--opened {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-nav--opened {
    position: static;
  }
}
