.main-nav__list {
  background-color: rgba(129, 179, 210, 1);
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: $white;
    list-style-type: none;
    display: flex;
  }
}
