.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: initial;
    padding-top: 36px;
    padding-bottom: 30px;
    align-items: center;
    padding-left: 45px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 104px;
    padding-right: 120px;
  }
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  display: block;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    min-width: 166px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}
