.maps {
  padding-bottom: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 100%;
    height: 350px;
  }
}

.maps__wrapper {
  display: flex;
}

.maps__image {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.maps iframe {
  border: none;
  width: 100%;
  height: 350px;
  z-index: 3;
}

