.personal-information__form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 39px;
}

.personal-information__form-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 34px;
}

.personal-information {
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 64px;
  }
}

.personal-information__filter {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
