.personal-information__form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 39px;
}

.personal-information__form-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 34px;
}

.form__impression {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.form__visited {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.form__comment {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
}
