.presentation {
  padding-bottom: 32px;
}

.presentation__slogan {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 1);
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: center;
  }
}

.presentation__wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
  }
}

.presentation__intro {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}

.presentation__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 61px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }
}

.presentation__wrapper-list {
  @media (min-width: $mobile-width-only) {
    width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid $black;
    padding-top: 26px;
    padding-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 62px;
  }
}

.presentation__wrapper-end {
  padding-top: 24px;
  padding-bottom: 26px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 256px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin: 0;
    border: none;
    padding-top: 43px;
    padding-bottom: 62px;
  }
}


.presentation__detail {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 0;
  }
}

.presentation__container {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    text-transform: uppercase;
    padding-top: 46px;
    padding-bottom: 44px;
    width: 256px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .presentation__container-order {
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.presentation__wrapper-blue {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 25px;
  }
}

.presentation__wrapper-blue:nth-child(2) {
  margin-bottom: 0;
}


.presentation__title-blue {
  margin: 0 auto;
  margin-bottom: 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.presentation__container .presentation__number {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 21px;
  align-items: center;
}

.presentation__container .presentation__information {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
}

.presentation__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto 16px;
}

.presentation__paragraph {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.presentation__item--2 .presentation__wrapper-blue {
  margin-bottom: 0;
}

.presentation__item--4 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1px auto;
  background-color: #eeeeee;
}

.presentation__item--4 {
  background-color: rgba(238, 238, 238, 1);


  @media (min-width: $tablet-width) {
    width: 256px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.presentation__detail-item--3 .presentation__paragraph {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .presentation__detail-item--1 {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .presentation__detail-item--1 {
    width: 400px;
  }
}

.presentation__detail-item--2 {
  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.presentation__detail-item--3 {
  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 59px;
    padding-top: 158px;
    text-align: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.presentation__item--5 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1px auto;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.presentation__item--5 {
  background-color: rgba(238, 238, 238, 1);

  @media (min-width: $tablet-width) {
    width: 256px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.presentation__item--6 {
  background-color: rgba(238, 238, 238, 1);


  @media (min-width: $tablet-width) {
    width: 256px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.presentation__item--6 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #eeeeee;
}

.presentation__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.presentation__number {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  align-items: center;
}

.presentation__images-item {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.presentation__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
