.presentation {
  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.presentation__slogan {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: rgba(0, 0, 0, 1);
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: center;

    br {
      display: none;
    }

    .presentation__slogan-space {
      display: block;
    }
  }
}

.presentation__wrapper {
  padding-top: 32px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 56px;
    padding-left: 124px;
    padding-right: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
    padding-left: 358px;
    padding-right: 359px;
  }
}

.presentation__intro {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}

.presentation__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }
}

.presentation__wrapper-list {
  margin: 0 auto;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
  padding-top: 26px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    width: 256px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
    padding-left: 33px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 62px;
    padding-left: 42px;
    padding-right: 43px;
  }
}

.presentation__wrapper-list-2 {
  @media (min-width: $tablet-width) {
    padding-left: 46px;
    padding-right: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
    padding-right: 54px;
  }
}

.presentation__information-space-3 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.presentation__information-space-2 {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


.presentation__wrapper-end {
  padding-top: 24px;
  padding-bottom: 26px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
    padding-left: 41px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    border: none;
    padding-top: 43px;
    padding-bottom: 62px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.presentation__detail {
  list-style-type: none;
  margin-bottom: 52px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.presentation__container {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 22px;

  @media (min-width: $tablet-width) {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    text-transform: uppercase;
    padding-top: 46px;
    padding-bottom: 44px;
    padding-left: 25px;
    padding-right: 25px;
    width: 33%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-left: 53px;
    padding-right: 52px;
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

.presentation__container-order {
  @media (min-width: $tablet-width) {
    order: 2;
    padding-left: 36px;
    padding-right: 36px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    padding-right: 78px;

    br {
      display: block;
    }
  }
}
// исправить
@media (min-width: $desktop-width) {
  .presentation__information-space {
    display: block;
  }
}
//

.presentation__wrapper-blue {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 0;
  }
}

.presentation__wrapper-blue:nth-child(2) {
  margin-bottom: 0;
}


.presentation__title-blue {
  margin: 0 auto;
  margin-bottom: 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.presentation__container .presentation__number {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 21px;
  align-items: center;
}

.presentation__container .presentation__information {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 21px;

    br {
      display: none;
    }
  }
}

.presentation__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto 16px;
  position: relative;
}

.presentation__paragraph {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.presentation__item--1 {
  width: 100%;
}

.presentation__item--2 .presentation__wrapper-blue {
  margin-bottom: 0;
}

.presentation__item--2 {
  width: 100%;
}

.presentation__item--4 .presentation__information {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: #eeeeee;
}

.presentation__item--4 {
  background-color: rgba(238, 238, 238, 1);
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    width: 33.33%;
    justify-content: space-between;
    padding: 0;
  }
}

.presentation__detail-item--3 .presentation__paragraph {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.presentation__detail-item--1 {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 36px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
    padding-right: 58px;
  }
}

.presentation__paragraph-1 {
  display: none;
}


.presentation__detail-item--2 {
  br {
    display: none;
  }

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    margin-bottom: 0;
    padding-right: 36px;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
    padding-right: 57px;

    br {
      display: none;
    }
  }
}

.presentation__detail-item--3 {
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 59px;
    padding-top: 158px;
    text-align: center;
    align-items: center;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
    padding-right: 57px;

    br {
      display: none;
    }
  }
}

.presentation__item--5 .presentation__information {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1px auto;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.presentation__item--5 {
  background-color: rgba(238, 238, 238, 1);
  padding: 0 22px;

  @media (min-width: $tablet-width) {
    width: 33.33%;
    justify-content: space-between;
    padding: 0;
  }
}

.presentation__item--6 {
  background-color: rgba(238, 238, 238, 1);
  padding: 0 21px;


  @media (min-width: $tablet-width) {
    width: 33.33%;
    justify-content: space-between;
    padding: 0;
  }
}

.presentation__item--6 .presentation__information {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #eeeeee;
}

.presentation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.presentation__number {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  align-items: center;
}

.presentation__images-item {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 67%;
  }
}

.presentation__image {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    width: 67%;
  }
}

.presentation__icon-home::before {
  content: "";
  background-image: url("../img/mobile/home-mob.svg");
  width: 39px;
  height: 37px;
  position: absolute;
  display: block;
  left: -45px;
  bottom: -4px;
  background-size: 39px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-size: 75px;
    width: 75px;
    height: 72px;
    bottom: 46px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    bottom: 46px;
  }
}

.presentation__icon-burger::before {
  content: "";
  background-image: url("../img/mobile/burger-mob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 35px;
  position: absolute;
  display: block;
  left: -45px;
  bottom: -4px;

  @media (min-width: $tablet-width) {
    width: 76px;
    background-size: 76px;
    height: 68px;
    bottom: 46px;
    left: 50%;
    transform: translate(-50%);
  }


  @media (min-width: $desktop-width) {
    left: 50%;
    bottom: 46px;
  }
}

.presentation__icon-gifts::before {
  content: "";
  background-image: url("../img/mobile/gift-mob.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 32px;
  height: 38px;
  position: absolute;
  display: block;
  left: -45px;
  bottom: -4px;

  @media (min-width: $tablet-width) {
    background-size: 64px;
    width: 64px;
    height: 75px;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    bottom: 40px;
  }
}
