.site-list__link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 14px;

  @media (min-width: $tablet-width) {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 11px;
  }
}

.site-list__item {
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    box-shadow: none;
  }
}

.site-list {
  @media (min-width: $desktop-width) {
    width: 1060px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-child(1) {
    margin-right: 75px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-child(2) {
    margin-right: 205px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-child(3) {
    margin-right: 45px;
  }
}
