.social {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  flex-wrap: wrap;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 270px;
    margin-bottom: 0;
    margin-left: 53px;
    margin-top: 34px;
  }
}

.social__item {
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  background-color: rgba(129, 179, 210, 1);
  position: relative;
  margin-right: 6px;
  max-width: 200px;
  margin-bottom: 6px;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;
  }
}

.social__link-icons {
  position: absolute;
  top: 16px;
  left: 12px;
}

.social__link-youtube {
  position: absolute;
  top: 15px;
  left: 14px;
}

.social__link-icons:hover path {
  fill: $white;
}

.social__link-icons:active path {
  fill: rgba(255, 255, 255, 0.3);
}
