.tourist-areas {
    padding-left: 0;
    list-style-type: none;
    margin-top: 24px;
    padding-right: 0;
    margin-bottom: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.tourist-areas__item {
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100%;
  }
}

.tourist-areas__item-2 {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33.33%;
  }
}

.tourist-areas__item:nth-child(4) {
  padding-bottom: 0;
}

.tourist-areas__link {
  margin-bottom: 15px;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-decoration: none;
  }
}

.tourist-areas__like {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    justify-self: end;
  }
}

.tourist-areas__wrapper-1 {
    padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    box-shadow: none;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    border: none;
    background-color: rgba(242, 242, 242, 1);
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    position: absolute;
    bottom: 3px;
    width: 100%;
    display: grid;
  }
}

.tourist-areas__wrapper-2 {
  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 15px;
    padding-left: 20px;
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    max-width: 100%;
  }
}

.tourist-areas__wrapper-3 {
  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 21px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 5 / 5;
  }
}

.tourist-areas__wrapper {
    padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: rgba(242, 242, 242, 1);
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
    position: absolute;
    bottom: 3px;
    display: grid;
    width: 100%;
  }
}

.tourist-areas__slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
  padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;
  }
}

.tourist-areas__author {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.tourist-areas__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    justify-self: end;
  }
}

.tourist-areas__big-img {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.tourist-areas__images {
    width: 100%;
    display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 267px;
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 267px;
  }
}

.tourist-areas__icons path {
  @media (min-width: $desktop-width) {
  fill: $white;
  opacity: 1;
  }
}
