.tourist-areas {
  padding-left: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.tourist-areas__item {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
  }
}

.tourist-areas__link {
  margin-bottom: 15px;
}

.tourist-areas__wrapper-1 {
  padding-bottom: 25px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    display: flex;
    box-shadow: none;
    width: 648px;
  }
}

.tourist-areas__slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.tourist-areas__author {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.tourist-areas__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.tourist-areas__big-img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.tourist-areas__images {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}
