.visited__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.visited__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.visited__control-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.visited__control-input {
  margin-bottom: 16px;
}

.visited__control-input:nth-child(4) {
  margin-bottom: 24px;
}
