@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #ffffff;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.catalog-card__information-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .catalog-card__information-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog-card__information-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.catalog-card__information-text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .catalog-card__information-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .catalog-card__information-text {
    margin-bottom: 65px;
  }
}

.catalog-card__information {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .catalog-card__information {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-card__information {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .catalog-card {
    margin-bottom: 58px;
  }
}
@media (min-width: 768px) {
  .catalog-card {
    margin-bottom: 62px;
  }
}

.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

.tourist-areas {
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .tourist-areas {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .tourist-areas {
    display: flex;
    flex-wrap: wrap;
  }
}

.tourist-areas__item {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .tourist-areas__item {
    padding-bottom: 15px;
  }
}

.tourist-areas__link {
  margin-bottom: 15px;
}

.tourist-areas__wrapper-1 {
  padding-bottom: 25px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .tourist-areas__wrapper-1 {
    display: flex;
    box-shadow: none;
    width: 648px;
  }
}

.tourist-areas__slogan {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .tourist-areas__slogan {
    margin-top: 20px;
  }
}

.tourist-areas__author {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .tourist-areas__author {
    margin: 0;
  }
}

.tourist-areas__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: 768px) {
  .tourist-areas__big-img {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .tourist-areas__big-img {
    width: 1200px;
    height: 400px;
  }
}

@media (min-width: 768px) {
  .tourist-areas__images {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .tourist-areas__images {
    width: 400px;
    height: 267px;
  }
}

.feedback__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 0;
}

.feedback__intro {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.feedback {
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form__naming {
  text-transform: uppercase;
}

.form__name {
  width: 280px;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: #000000;
}

.form__contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form__contacts-naming {
  text-transform: uppercase;
}

.form__contacts-name {
  width: 222px;
  background-color: #f2f2f2;
  border: none;
  height: 58px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: block;
  font-family: inherit;
  color: #000000;
}

.form__contacts-phone {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  border: none;
}

.form__contacts-mail {
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  border: none;
}

.form__contacts-wrapper {
  margin-bottom: 16px;
  display: flex;
}

.form__comment-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  display: block;
}

.form__comment-wrapper {
  margin: 0;
  margin-bottom: 56px;
}

.form__comment-area {
  background-color: #f2f2f2;
  border: none;
  min-width: 279px;
  min-height: 150px;
}

.form__comment-button {
  background-color: #81b3d2;
  border: none;
}

.form__comment-button-span {
  font-weight: 700;
  width: 281px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  color: white;
  display: block;
  padding: 18px 34px 13px 32px;
}

.form__comment-mark {
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
}

.form__impression-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form__impression-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.form__impression-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__impression {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.form__visited {
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.form__comment {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
}

.form__visited-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.form__visited-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.form__visited-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__visited-input {
  margin-bottom: 16px;
}

.form__visited-input:nth-child(4) {
  margin-bottom: 24px;
}

.form-images {
  margin-left: 75px;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .form-images {
    margin-left: 250px;
  }
}
@media (min-width: 1200px) {
  .form-images {
    margin-left: 150px;
  }
}

.main-container__wrapper {
  background-image: url("../img/mobile/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .main-container__wrapper {
    background-image: url("../img/mobile/background-index-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    padding-top: 77px;
    padding-bottom: 43px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .main-container__wrapper {
    margin-bottom: 0;
  }
}

.main-container__wrapper-catalog {
  background-image: url("../img/mobile/background-catalog-tablet.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 214px;
  width: 768px;
}
@media (min-width: 768px) {
  .main-container__wrapper-catalog {
    width: 768px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1200px) {
  .main-container__wrapper-catalog {
    width: 1200px;
    margin-bottom: 100px;
  }
}

.main-container__wrapper-form {
  background-image: url("../img/mobile/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 214px;
  padding-bottom: 33px;
  margin-bottom: 36px;
}

.main-container__images {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .main-container__images {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: block;
    width: 461px;
    height: 365px;
  }
}

.main-container__catalog-card {
  padding-top: 33px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .main-container__catalog-card {
    padding-top: 62px;
    padding-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .main-container__catalog-card {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .main-footer {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
    align-items: center;
  }
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  display: block;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .main-footer__hashtag {
    min-width: 166px;
    margin: 0;
  }
}

.main-header__wrapper {
  width: 320px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 185px;
    position: absolute;
    left: 312px;
  }
}

.main-header__toggle {
  background-image: url("../img/mobile/menu-header.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  border: none;
  padding: 0;
  font: inherit;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header__toggle {
    display: none;
  }
}

.main-header__logo {
  padding-left: 63px;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-header__logo {
    padding: 0;
    display: block;
    box-sizing: border-box;
  }
}

@media (min-width: 768px) {
  .main-header {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-header {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    height: 56px;
  }
}

.main-nav__list {
  background-color: #81b3d2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
}

.maps {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .maps {
    padding-bottom: 0;
  }
}

.maps__image {
  width: 100%;
}

.movie-presentation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .movie-presentation__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .movie-presentation__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 0;
  }
}

.movie-presentation__intro {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .movie-presentation__intro {
    font: inherit;
  }
}
@media (min-width: 1200px) {
  .movie-presentation__intro {
    font: inherit;
  }
}

.personal-information__form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 39px;
}

.personal-information__form-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 34px;
}

@media (min-width: 1200px) {
  .presentation {
    padding-bottom: 0;
  }
}

.presentation__slogan {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .presentation__slogan {
    color: black;
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    margin: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-align: center;
  }
}

.presentation__wrapper {
  padding-top: 32px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .presentation__wrapper {
    padding-top: 47px;
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .presentation__wrapper {
    padding-top: 59px;
    padding-bottom: 45px;
  }
}

.presentation__intro {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .presentation__intro {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }
}

.presentation__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .presentation__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
  }
}

@media (min-width: 320px) {
  .presentation__wrapper-list {
    width: 320px;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .presentation__wrapper-list {
    width: 256px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .presentation__wrapper-list {
    width: 400px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 62px;
  }
}

.presentation__wrapper-end {
  padding-top: 24px;
  padding-bottom: 26px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .presentation__wrapper-end {
    width: 256px;
    margin: 0;
    border: none;
    padding-top: 42px;
    padding-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .presentation__wrapper-end {
    width: 400px;
    margin: 0;
    border: none;
    padding-top: 43px;
    padding-bottom: 62px;
  }
}

.presentation__detail {
  list-style-type: none;
}
@media (min-width: 768px) {
  .presentation__detail {
    display: flex;
    padding-left: 0;
  }
}

.presentation__container {
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .presentation__container {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    text-transform: uppercase;
    padding-top: 46px;
    padding-bottom: 44px;
    width: 256px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .presentation__container {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 47px;
    padding-bottom: 57px;
  }
}

@media (min-width: 768px) {
  .presentation__container-order {
    order: 2;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.presentation__wrapper-blue {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .presentation__wrapper-blue {
    display: flex;
    margin-bottom: 25px;
  }
}

.presentation__wrapper-blue:nth-child(2) {
  margin-bottom: 0;
}

.presentation__title-blue {
  margin: 0 auto;
  margin-bottom: 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.presentation__container .presentation__number {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 21px;
  align-items: center;
}

.presentation__container .presentation__information {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
}

.presentation__header {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: black;
  margin: 0 auto 16px;
}

.presentation__paragraph {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto 25px;
}
@media (min-width: 768px) {
  .presentation__paragraph {
    margin: 0 auto;
  }
}

.presentation__item--2 .presentation__wrapper-blue {
  margin-bottom: 0;
}

.presentation__item--4 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1px auto;
  background-color: #eeeeee;
}

.presentation__item--4 {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .presentation__item--4 {
    width: 256px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .presentation__item--4 {
    width: 400px;
  }
}

.presentation__detail-item--3 .presentation__paragraph {
  margin-bottom: 52px;
}
@media (min-width: 768px) {
  .presentation__detail-item--3 .presentation__paragraph {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .presentation__detail-item--1 {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .presentation__detail-item--1 {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .presentation__detail-item--2 {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 158px;
    padding-bottom: 59px;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .presentation__detail-item--2 {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .presentation__detail-item--3 {
    width: 256px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 59px;
    padding-top: 158px;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .presentation__detail-item--3 {
    width: 400px;
  }
}

.presentation__item--5 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 1px auto;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .presentation__item--5 .presentation__information {
    box-shadow: none;
  }
}

.presentation__item--5 {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .presentation__item--5 {
    width: 256px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .presentation__item--5 {
    width: 400px;
  }
}

.presentation__item--6 {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .presentation__item--6 {
    width: 256px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .presentation__item--6 {
    width: 400px;
  }
}

.presentation__item--6 .presentation__information {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #eeeeee;
}

.presentation__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.presentation__number {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
  display: block;
  align-items: center;
}

.presentation__images-item {
  width: 100%;
}
@media (min-width: 768px) {
  .presentation__images-item {
    margin-bottom: 0;
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .presentation__images-item {
    width: 800px;
  }
}

.presentation__image {
  width: 100%;
}
@media (min-width: 768px) {
  .presentation__image {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .presentation__image {
    width: 800px;
  }
}

.search-hotel {
  padding-bottom: 49px;
  padding-top: 49px;
}
@media (min-width: 768px) {
  .search-hotel {
    padding-bottom: 61px;
    padding-top: 58px;
  }
}
@media (min-width: 1200px) {
  .search-hotel {
    padding-top: 61px;
    padding-bottom: 66px;
  }
}

.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}
@media (min-width: 768px) {
  .search-hotel__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.search-hotel__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}
@media (min-width: 768px) {
  .search-hotel__description {
    margin-bottom: 41px;
  }
}

.search-hotel__button {
  background-color: #81b3d2;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  width: 284px;
  padding: 10px 20px;
  text-align: center;
}
.search-hotel__button:hover {
  background-color: #669ec0;
}
.search-hotel__button:active {
  background-color: #5496bd;
}
.search-hotel__button:disabled {
  background-color: #e5e5e5;
}
.search-hotel__button:focus-visible {
  box-shadow: 0 0 0 3px #669ec0;
  outline: none;
}
@media (min-width: 768px) {
  .search-hotel__button {
    width: 458px;
    margin: 0 auto;
    display: block;
  }
}

.search-hotel__button-title {
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 14px;
}
@media (min-width: 768px) {
  .site-list__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 11px;
  }
}

.site-list__item {
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item {
    width: 130px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    box-shadow: none;
  }
}

@media (min-width: 1200px) {
  .site-list {
    width: 1060px;
  }
}

@media (min-width: 768px) {
  .site-list__item:nth-child(2) {
    margin-right: 210px;
  }
}
.social {
  margin-bottom: 47px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
  }
}

.social__item {
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.academy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
.academy__text:hover {
  color: #81b3d2;
}
.academy__text:active {
  color: #b3b3b3;
}

.academy {
  display: block;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .academy {
    margin: 0;
  }
}

.academy__link-svg:hover path {
  fill: #81b3d2;
}

.academy__link-svg:active path {
  fill: #b3b3b3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */