body {
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $black;
  background-color: rgb( 242, 242, 242);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  background-color: rgba(255, 255, 255, 1);
}
