.main-nav__list {
  background-color: #81b3d2;
  list-style-type: none;
  width: 320px;
  margin: 0;
  padding: 0;
}

.site-list__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.site-list__item {
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
}

.main-header__wrapper {
  margin: 0 auto;
}
