.main-container__wrapper {
  background-image: url("../img/mobile/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (min-width: $tablet-width) {
  .main-container__wrapper {
    background-image: url("../img/mobile/background-index-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    padding-top: 77px;
    padding-bottom: 43px;
    margin-bottom: 47px;
  }
}

// Catalog html //
.main-container__wrapper-catalog {
  background-image: url("../img/mobile/background-catalog-tablet.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 214px;
  padding-bottom: 33px;
  width: $tablet-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-bottom: 100px;
  }
}

.main-container__wrapper-form {
  background-image: url("../img/mobile/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 214px;
  padding-bottom: 33px;
  margin-bottom: 36px;
}
