.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  align-items: center;
  display: block;
  padding-bottom: 34px;
}
