.main-footer {
  display: flex;
  flex-direction: column;
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  align-items: center;
  display: block;
  padding-bottom: 34px;
}

.social {
  padding-bottom: 47px;
  display: flex;
}

.social__item {
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  width: 48px;
  height: 48px;
  background-color: rgba(129, 179, 210, 1);
}

.academy__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.academy {
  display: block;
  align-items: center;
  text-align: center;
}
