.main-container__wrapper {
  background-image: url("../img/mobile/background-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 389px;
  width: 320px;
}
