.search-hotel {
  padding-bottom: 49px;
}

.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}

.search-hotel__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
}

.search-hotel__button {
  background-color: #81b3d2;
  box-sizing: border-box;
  padding: 16px 50px;
}

.search-hotel__button-title {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
