.sedona-info {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 35px;
}
.advantages-description {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-weight: 400, Regular;
  line-height: 21px;
}
