// Viewports //
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;

// Colors //
$white: #ffffff;
$black: #000000;

@import "./fonts.scss";
@import "./base.scss";
@import "./main-header.scss";
@import "./main-nav.scss";
@import "./main-container.scss";
@import "./presentation.scss";
@import "./search-hotel.scss";
@import "./main-footer.scss";
@import "./maps.scss";
@import "./container.scss";
@import "./blocks/academy.scss";
@import "./blocks/catalog-card.scss";
@import "./blocks/movie-presentation.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/tourist-areas.scss";
@import "./blocks/wrapper-catalog__images.scss";
@import "./blocks/wrapper__images.scss";
@import "./blocks/feedback.scss";
@import "./blocks/personal.scss";
@import "./blocks/form.scss";
@import "./blocks/impression.scss";
@import "./blocks/visited.scss";
@import "./blocks/comment.scss";
