// Viewports //
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;

// Colors //
$white: #ffffff;
$black: #000000;

@import "./fonts.scss";
@import "./base.scss";
@import "./main-header.scss";
@import "./main-nav.scss";
@import "./main-container.scss";
@import "./services.scss";
@import "./presentation.scss";
@import "./search-hotel.scss";
@import "./main-footer.scss";
@import "./maps.scss";
@import "./container.scss";
